<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Mission</h2>
                <hr class="light">
                <p class="text-faded"> Boston AI in Medicine seeks to connect investigators, scientists, data analysts, clinicians, academics, industry, computer scientists, theorists, and biostatisticians to meet, learn about each other's work, build bridges, collaborate, and generally help each other out. We want to leverage the full power of the Boston community, including universities, hospitals, industries, and non-profit organization.</p>
            </div>
        </div>
    </div>
</section>
